header{
		margin-bottom: 90px;
	}

.nombre{
	font-weight: bold;
	font-size: 18px;
}

.color{
	border: 2px solid #FFFFFF;
	height: 100px;
}

.clase{
	margin-top: 12px;
}

html,body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
footer {
	margin-top: 35px;
	height: 60px;
	background-color: #1A1A1A;
	padding-top: 20px;
}


@media only screen and (min-width: 769px){
	
	.clase{
		display: none;
	}
	
	.color:hover .clase{
		display: block;
	}
	
}

@media only screen and (max-width: 768px){
	
	.clase{
		display: block;
	}
}


